/* Global Styles */
* {
	box-sizing: border-box;
}
body {
	background-color: #cec4ad;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
@font-face {
	font-family: 'Calgary';
	src: url('/static/fonts/Calgary.woff2') format('woff2'),
		url('/static/fonts/Calgary.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
