/* Global Styles */
* {
	box-sizing: border-box;
}
body {
	background-color: #cec4ad;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
@font-face {
	font-family: 'Dream Avenue';
	src: url('https: //jjordan -90github .io/dream_avenue_font/dream_avenue_.woff') format('woff');
	src: url('https: //jjordan -90github .io/dream_avenue_font/dream_avenue_.woff2') format('woff2');
}
